.page {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.user {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.user__info {
  text-align: center;
  font-size: 24px;
  margin: 32px;
}
.user__avatar {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.user__name {
  font-weight: 700;
}
.user__location {
}
.name-form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.name-form__input {
  height: 30px;
  border: 6px solid lightgrey;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
}
.name-form__btn {
  border: 6px solid lightgrey;
  border-radius: 8px;
  background: #fff;
  outline: none;
}
.repo-list{
  list-style: none;
}
.repo-list__item{
  display: inline-block;
  padding: 15px 5px;
  margin: 10px;
  border: 4px solid grey;
  border-radius: 5px;
  font-weight: 700;
  background-color: orange;
}
.spinner{

}
.spinner_hidden{
  
}